@font-face {
  font-family: 'Red Hat Display';
  src: url(/RedHatDisplay.ttf);
  font-display: swap;
}

body {
  background-color: #1c1722;
  background-image: linear-gradient(to bottom right, #241a40, #281649);
  min-height: 100vh;
  margin: 0;
  font-family: 'Red Hat Display', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
}

main {
  max-width: 80ch;
  margin: 0 auto 2em;
  padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #eef6f8;
  text-decoration: underline #fff8 2px;
  margin-top: 2em;
}

p,
li {
  color: #b0b2b8;
  text-align: justify;
  line-height: 1.5;
}

nav {
  text-align: center;
  clear: both;
  color: white;
  padding-top: 1em;
}

nav > * {
  color: white;
}

blockquote {
  display: block;
  padding: .5em 1em;
  color: #b0b2b8;
  background-color: #07070788;
  border-left: 2px solid #bbb2c488;
}

blockquote > p {
  margin: 0;
}

a {
  color: #3babdb;
  text-decoration-thickness: 1px;
}

strong {
  color: #ccd3d6;
}

h1 {
  text-decoration: none;
  margin-top: 1em;
}

h1 img {
  height: auto;
  pointer-events: none;
  display: none;
}

@media screen and (min-width: 560px) {
  h1 {
    margin-top: 2em;
  }
  h1 img {
    height: 3em;
    position: absolute;
    translate: -60% -40%;
    display: inline-block;
  }
}

h1 a {
  text-decoration: none;
}

p img {
  max-height: 6lh;
  max-width: 100%;
  width: auto;
  float: right;
  margin-left: 1ch;
  border-radius: 1em;
  cursor: zoom-in;
}

dialog {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  animation: fade-out 0.25s ease-out;
  cursor: zoom-out;
}

dialog::backdrop {
  background: #0004;
  backdrop-filter: blur(5px);
}

dialog[open] {
  animation: fade-in 0.25s ease-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .5em;
}

dialog img {
  cursor: auto;
}

cb {
  color: #4a52e1;
}
cg {
  color: #40e348;
}
cl {
  color: #60abef;
}
cj {
  color: #32c8ff;
}
cy {
  color: #ffff00;
}
co {
  color: #ffa54b;
}
cr {
  color: #ff5a5a;
}
cp {
  color: #ff00ff;
}

body > blockquote {
  font-size: small;
  width: fit-content;
}

.love {
  display: inline-block;
  height: 1em;
  aspect-ratio: 1;
  background-image: url(/heart.svg);
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: .2em;
}

.links {
  display: flex;
  justify-content: center;
  gap: .5em;
}
.links * {
  height: 5em;
  aspect-ratio: 1;
}
.links + h2 {
  margin-top: 1em;
}