{
  "PORT": 8048, // Default value, embedded in mod source
  "DATABASE": {
    "SCRIPT": "dummy", // Filename of .js in database/ directory, follow dummy.js for form
    "POSTGRES": { // postgres.js-specific data
      "database": "",
      "user": "",
      "password": ""
    }
    // New database scripts can require other attributes in here.
  }
}
