{
  "PORT": 8048,
  "DATABASE": {
    "SCRIPT": "dummy", // Filename of .js in database/ directory, follow dummy.js for form
    "POSTGRES": { // postgres.js-specific data
      "database": "",
      "user": "",
      "password": ""
    }
    // New database scripts can require other attributes in here.
  },
  "RATELIMIT": {
    "window": 10000,
    "limit": 3
  }
}
